.con1{
    width: 150px;
    height: 200px;
    margin: 200px;
}
.con1 img{
    width: 100%;
}

.con1:hover{
    width: 200px;
    height: 200px;
}

.text{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top:-350px;
    left: 400px;

}
.text:active{
    background-color: red;
}

.sample {
    /* width: 300px;
    height: 60px; */
    position: relative;
    top: -350px;
    left: 800px;
}

.sample input{
     width: 500px;
     height: 50px;
     margin-bottom: 10px;
}

.sample input:focus{
    background-color: aqua;
}

input[type=checkbox]:checked+label{
    color: green;
    font-weight: bold;
}


.text-msg p::before{
    content: "This is my paragph";
    color: blue;
}

.text-msg p::after{
    content: "This is Last";
    color: red;
}